
<table class="table mt-4 table-bordered table-hover">
  <thead class="thead-dark" style="background-color: #e3f2fd;">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Name</th>
      <th scope="col">Order Date</th>
      <th scope="col">Gift Card Value</th>
      <th scope="col">Commission (5%)</th>
    </tr>
  </thead>
  <tbody>
  <% Order.all.each do |order|%>
    <tr>
      <th scope="row"><%= order.id%></th>
      <td><%= order.first_name+" "+ order.last_name%></td>
      <td><%= order.order_date%></td>
      <td><%= order.value%></td>
      <td><%= order.commission%></td>
    </tr>
  <%end%>  
  </tbody>
</table>
  <div>
<h3>Total Commission: <%= Order.sum(:commission) %></h3>
</div>
